
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(#ffffff, #007bff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  padding-top: 60px;
 
}
header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
  background-color: #0065d1;

}
header .academy-name{
  font-family: Arial, Helvetica, sans-serif; 
  background: linear-gradient(to right, orange, white, rgb(167, 255, 167)); 
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 15px;

}
header .logo{
  z-index: 0;
  position: fixed;
  left: 1%;
  top: 1%;
  width: 5%;
  border-radius: 49%;


}

img:hover {
  opacity: 0.5;
}

header .navigation{
  position: relative;
}

header .navigation .navigation-items a{
  position: relative;
  color: #ffffff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
  

}
header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
 
}

header .navigation .navigation-items a:hover:before{
      width: 100%;
}
header .navigation .navigation-items a:hover{
  color: orange;
}

header .logo{
    z-index: 0;
    position: fixed;
    left: 1%;
    top: 0.8%;
    width: 5%;
    border-radius: 49%;


}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}

.wrapper {
  max-width: 650px;
  width: 100%;
  background: white;
  margin: 50px auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.125);
  padding: 30px;
  border-radius: 1em;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to top left, #000000 0%, #000000 100%) 1;
}

.wrapper .title {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 25px;
  color: blue;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form {
  width: 100%;

}

.wrapper .form .inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label {
  width: 200px;
  color: rgb(0, 0, 0);
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea {
  width: 100%;
  outline: none;
  border: 1px solid black;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea {
  width: 100%;
  height: 125px;
  resize: none;
}

.wrapper .form .inputfield .custom_select {
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #000000 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #000000;
  border-radius: 3px;
}

.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus {
  border: 1px solid #282881;
}

.wrapper .form .inputfield p {
  font-size: 14px;
}

.wrapper .form .inputfield .check {
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}

.wrapper .form .inputfield .check input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.wrapper .form .inputfield .check .checkmark {
  width: 15px;
  height: 15px;
  border: 1px solid #000000;
  display: block;
  position: relative;
}

.wrapper .form .inputfield .check .checkmark:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked~.checkmark {
  background: #282881;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked~.checkmark:before {
  display: block;
}

.wrapper .form .inputfield .btn {
  width: 40%;
  padding: 8px 10px;
  font-size: 15px;
  font-weight: bold;
  border: 0px;
  background: linear-gradient(to bottom right, #a6effc 0%, #87c2f1 100%);
  color: #000000;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .form .inputfield .btn:hover {
  background: linear-gradient(to top left, #a6effc 0%, #87c2f1 100%);

}

.wrapper .form .inputfield:last-child {
  margin-bottom: 0;
}

@media (max-width:420px) {
  .wrapper .form .inputfield {
    flex-direction: column;
    align-items: flex-start;
  }

  .wrapper .form .inputfield label {
    margin-bottom: 5px;
  }

  .wrapper .form .inputfield.terms {
    flex-direction: row;
  }

  #btn, #gender{
    flex-direction: row;
    align-items: flex-start;
  }
  #hobbies{
    display:inline-block;
    width: 30%;
    
  }
  
}

#radio {
  margin: 0 10px 0 10px;
}

#btn,
#phone-codes {
  display: flex;
  justify-content: space-evenly;
}

#phone-codes {
  width: 20%;
  height: 37px;

}

.hobbies {
  position: relative;
  display: contents;
  justify-content: flex-start;
}

#phone-number {
  width: 83%;
}

#message {
  font-size: 14px;
  margin: 2px 0;
  display: inline-block;
  color: black;
  padding: 5px 150px;
}

#name {
  text-transform: capitalize;
}
#file-size{
  color: #fe1e50;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  margin-left: 80PX;
}


.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(4 5deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 1px;
  left: 200px;
  height: calc(100vh - 50px);
  width: 100%;
  background-color: #000000;
  width: 35%;
 
  margin: 1px;
  align-items: center;
  border-radius: 10px;
  height: auto;
  margin-left: 30PX;
 

 
 
}
.mobile-menu a:hover{
  color: orange;
}

.mobile-menu li {
  margin-bottom: 10px;
}





@media only screen and (max-width: 600px) {
  header nav {
    display:none;
  }


  #hamburger-icon {
    display: block;
  }
  body{
    padding-top: 60px;
  }
  
  header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    background-color: #0065d1
  
  }

 
  section{
      padding: 100px 20px;
  }
  .home .media-icons{
      right: 15px;
  }


  header .navigation {
    display: none; /* Change display to block or flex as needed */
  }

 /* header  .mobile-menu{
    background: #0000;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1/20%);
   }*/

  header .navigation .navigation-items a {
    margin-left: 0; /* Reset margin for stacked items */
  }


  
}

